*{
    margin:0;
    padding: 0;
}
body{
    background-color:rgb(0, 0, 0) ;
  
    
}
.nav{
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 100px;
}
.logo img{
   height:100px;
   margin-left: 68px;
}
.home{
    padding-left: 450px;
}
.home p{
    display: inline;
    font-size:14px;
    cursor: pointer;
    margin-left: 40px;
    color: white;
    align-items: center;
    justify-content: center;
}

.home p:hover{
    color:red;
}
.case-stud input{
    width: 120px;
    height: 25px;
    background-color:aqua;
    border: transparent;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-left: 30px;
}
.case-stud input:hover{
    background-color: white;
    color:red;
}


.box1{
    height:35px;
    width:35px;
    background-color: rgba(128, 0, 128, 0.415);
    margin-left: 800px;
 
}
.main-body{
    height: 370px;
    margin-left: 107px;
    margin-top: 100px;
    display:flex;
    justify-content: space-between;

}
.left-part{
    color:white;
    width: 255px;
}
.left-part h4 span{
    color:yellow;
}
.myname{
    padding-top: 5px;
    font-size: 50px;
    padding-left: 5px;
}
.myname span{
    color: purple;
}
#sharma{
    font-size: 40px;
}
#im{
    padding-left: 5px
}
.developer{

    padding-top: 10px;
    padding-left: 5px;
    
}
.developer p{
    font-weight: 100px;
    color:aqua;
    text-shadow: .07px .07px aqua;
}
.developer span{
    padding-top: 10px;
}
#tagline{
    color:white;
    padding-top:7px;

}

.hireme button {
    width: 120px;
    height: 25px;
    background-color:aqua;
    border: transparent;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 15px;
    cursor:pointer;
}
#hire:hover{
    background-color: white;
    color:red;
}
.right-part img{
    margin-right: 100px;
    width: 400px;
    margin-bottom: 50px;
   background: transparent;
   height: 360px;

}
.about{
    height:200px;
    width: 100%;
    color:white;
  
    margin-right: 100px;
    background-color: rgb(49, 49, 49);
}
.about h2 span{
color:red;
}
h2{
    text-align: center;
    padding-top:10px;
}
.space{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    margin-left: 107px;
}
.space p{
    width: 800px;
    height:120px;
    overflow: scroll;
}
.contact{
    height: 300px;
    width:100%;
    color: white;
    background-color: rgb(30, 30, 30);
   
}
.contact h2 span{
    color: red;
}
.space1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.chat{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-right: 30px;
    padding-top: 10px;
    
}
.chat p{
    text-align: center;
    padding-top: 20px;
}
.chat p span{
    color:purple;
    cursor: pointer;
}

.call{
    width: 150px;
    height: 150px;
    background-color: black;
    padding-top: 10px;
}
.call p{
    text-align: center;
    padding-top: 20px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: purple;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    font-size:20px ;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: palevioletred;
    bottom: 35px;
    font-size: 14px;
}
